@font-face {
  font-family: 'm6x11';
  src: url('/static/fonts/m6x11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  line-height: 1.5;
  font-size: 1.3rem;
  text-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
}

body {
    font-family: 'm6x11';
    margin: auto;
    background-color: #12263d;
    color: #dee0ce;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
  height: 100%;
  min-height: 100%;
}

main {
  padding: 20px;
  flex: 1 0 auto;
}

button {
    color: #dee0ce;
    padding: 2%;
    border: 2px solid #2a2735;
    border-radius: 15px;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
    background-color:#071322;
    cursor: pointer;
}

textarea {
    color: #dee0ce;
    min-width: 10vw;
    max-width: 70vw;
    padding: 2%;
    margin-bottom: 20px;
    border: 2px solid #2a2735;
    border-radius: 15px;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
    background-color:#071322;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea {
    width: 100%;
    height: 80px;
}

.site-header {
  background-color: #071322;
  color: #dee0ce;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 100vw;
  border-bottom: 3px solid #2a2735;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
}

.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-logo img.icon {
  height: 40px;
  margin-right: 10px;
}

.site-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.site-nav a {
  margin-left: 15px;
  text-decoration: none;
}

.site-footer {
  width: 100%;
  background: #071322;
  color: #dee0ce;
  text-align: center;
  padding: 18px 0 12px 0;
  border-top: 2px solid #2a2735;
  font-size: 1rem;
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.footer-button {
  background: #163f70;
  color: #dee0ce;
  border: none;
  border-radius: 8px;
  padding: 6px 18px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  margin-left: 1em;
  transition: background 0.2s color 0.2s;
}

.footer-button:hover {
  background: #2a2735;
}

body.readable-font, body.readable-font * {
  font-family: 'segoe ui', 'helvetica neue', arial, sans-serif !important;
  letter-spacing: normal;
  font-size: 0.8rem;
}

 .create-post {
  margin-left: 15px;
  text-decoration: none;
 }

 .browse-button {
  display: inline-block;
  color: #dee0ce;
  padding: 2%;
  border: 2px solid #2a2735;
  border-radius: 15px;
  box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
  background-color: #071322;
  cursor: pointer;
  font-family: 'm6x11';
  margin-bottom: 10px;
  transition: background 0.2s color 0.2s;
 }

 .browse-button:hover {
  background-color: #2a2735;
 }

 .attachment-remove-btn {
  background: #071322;
  color: #ded0ce;
  border: 2px solid #2a2735;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 4px;
  transition: background 0.s;
 }

 .attachment-remove-btn:hover {
  background: #2a2735'
 }

.post-button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.site-nav a:hover .create-post {
  text-decoration: underline;
}

.post {
    min-width: 10vw;
    max-width: 70vw;
    padding: 2%;
    margin-bottom: 20px;
    border: 2px solid #2a2735;
    border-radius: 15px;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color:#071322;
}

.post-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.post-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 8px 0 4px 0;
  color: dee0ce;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.7);
}

.post-title-input {
  font-family: 'm6x11';
  font-size: 0.7rem;
  padding: 8px;
  border: 2px solid #2a2735;
  border-radius: 8px;
  background: #071322;
  color: #dee0ce;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

img {
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    color: #dee0ce;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
    transition: opacity 0.2s ease-in-out;
    border: 2px solid #2a2735;
    border-radius: 15px;
    background-color:#163f70;
}

.tag {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.tag:hover {
  text-decoration: underline;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.close-button {
    display: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.highlighted-word {
  color: #64a142;
  font-weight: bold;
}

/* quill overrides start */
.ql-editor {
  font-family: 'm6x11', monospace !important;
  font-size: 1.3rem;
  color: #dee0ce;
  background-color: #071322;
  border: 2px solid #2a2735;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
}

.ql-container.ql-snow {
  border: none;
  background-color: none;
  color: #dee0ce;
}

.ql-size-small {
  font-size: 0.75rem;
}

.ql-size-normal {
  font-size: 1rem;
}

.ql-size-large {
  font-size: 1.5rem;
}

.ql-size-huge {
  font-size: 2.5rem;
}

/* quill overrides end */

/* toolbar start */
#toolbar {
  background: none;
  border: none;
  padding: 5px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.custom-font-size-dropdown .dropdown-menu,
#toolbar button,
#toolbar select {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  height: 32px;
  box-sizing: border-box;
}

  /* custom font size portion start */
  .custom-font-size-dropdown {
    position: relative;
    display: inline-block;
    font-family: inherit;
 
  }

  .custom-font-size-dropdown .dropdown-toggle {
    background-color: #071322;
    color: #dee0ce;
    padding: 6px 12px;
    border: 2px solid #2a2735;
    border-radius: 15px;
    cursor: pointer;
    min-width: 60px;
  }

  .custom-font-size-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#12263d;
    border: 2px solid #2a2735;
    border-radius: 15px;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    z-index: 20000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    min-width: 100%;
    min-height: 320%;
  }

  .custom-font-size-dropdown .dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
  }

  .custom-font-size-dropdown .dropdown-menu li:hover {
    background-color:#163f70;
    border-radius: 15px;
  }
  /* custom font size portion end */

#toolbar button {
  background-color: #071322;
  border: 2px solid #2a2735;
  border-radius: 15px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 14px;
}

#toolbar button:hover {
  background-color: #12263d;
}

#toolbar select {
  border: 2px solid #2a2735;
  border-radius: 15px;
  padding: 4px;
  font-size: 1.1rem;
  background-color: #071322;
  cursor: pointer;
}

#toolbar .ql-size {
  border: 2px solid #2a2735;
  border-radius: 15px;
  padding: 4px 6px;
  font-size: 14px;
  background-color: #071322;
  cursor: pointer;
  color: #dee0ce;
}

#toolbar button.ql-bold::after {
  content: "𝐁";
  font-weight: bold;
}

#toolbar button.ql-italic::after {
  content: "𝐼";
  font-style: italic;
}

#toolbar button.ql-underline::after {
  content: "U";
  text-decoration: underline;
}

#toolbar button.ql-code-block::after {
  content: "<>";
  font-style: italic;
}

#toolbar button.ql-link::after{
  content: "☍";
  font-size: 1.1rem;
}

#toolbar button.ql-list[value="ordered"]::after {
  content: "1.";
}

#toolbar button.ql-list[value="bullet"]::after {
  content: "•";
  font-size: 1.1rem;
}

#toolbar button.ql-clean::after {
  content: "✖";
}

#toolbar button svg {
  display: none;
}