<!DOCTYPE html>
<html>
<!-- header start -->
<head>
    <title>Cryptid Forum</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<!-- header end -->

<!-- body start -->
<body>

<!-- header text and login start -->

    {% if user.is_authenticated %}

        <h2>Welcome, {{ user.username }}</h2>
        <button>
            <a href="{{ url_for('logout') }}">
                Logout
            </a>
        </button>

        <button id="openModal">
            New Post
        </button>

        {% if user.is_authenticated and user.discord_id in config['MODERATOR_IDS'] %}
        <button>
            <a href="{{ url_for('moderation_panel') }}">
                Moderation Panel
            </a>
        </button>
        {% endif %}

    {% else %}

    <button>
        <a href="{{ url_for('login') }}">
            Login via Discord
        </a>
    </button>

    {% endif %}

<!-- header and login end -->

    <br>
    <br>
    <br>
    <br>

<!-- post view start -->

    {% block content %}
        {% for post in posts %}
        <div class="post-link" data-href="{{ url_for('view_post', post_id=post.id) }}">
            <div class="post" data-href="{{ url_for('view_post', post_id=post.id) }}">
                <!-- post header start -->
                    <div class="post-header">
                        <img src="{{ post.user.avatar_url }}" alt="Avatar" style="width:40px; height:40px; border-radius:50%; vertical-align:middle; margin-right:10px;">
                        <strong>
                            {{ post.user.username }}
                        </strong>
                        <small>
                             | 
                            {{ post.timestamp.strftime('%y-%m-%d %H:%M') }}
                             | 
                            {{ post.likes.count() }}
                            ✓
                        </small>
                    </div>
                <!-- post header end -->

                <br>

                <!-- post content start -->
                        <p class="full_post_content">
                            {{ post.content[:140]|safe| format_post_content }}
                            {% if post.content|length > 140 %}
                                ...
                            {% endif %}
                        </p>
                <!-- post content end -->

                <!-- post image preview start -->
                {% if post.images %}
                    <img src="{{ url_for('uploaded_file_image', filename=post.images[0].filename) }}" style="max-width: 200px;">

                    {% if post.images|length > 1 %}
                        <br>
                        <small> {{ post.images|length - 1 }} other image{{'s' if post.images|length -1 > 1 else '' }}</small>
                    {% endif %}
                {% endif %}
                <!-- post image preview end -->  
                 
                <!-- post attachments start -->
                    {% if post.attachments %}
                        <ul>
                            <li>
                                <a class="file" href="{{ url_for('uploaded_file_file', filename=post.attachments[0].filename) }}" download>
                                    {{ post.attachments[0].original_filename }}
                                </a>
                            </li>
                            {% if post.attachments|length > 1 %}
                                <small>{{ post.attachments|length - 1 }} other file{{ 's' if post.attachments|length -1 > 1 else '' }}</small>
                            {% endif %}
                        </ul>
                    {% endif %}
                <!-- post attachments end -->
            </div>
        </div>
        {% endfor %}
    {% endblock %}
<!-- post view end -->

<!-- post modal start -->
    <div id="postModal" class="modal">
        <span class="close-button" style="display: hidden;"></span>
        <div class="modal-content">
            <form action="{{ url_for('create_post') }}" method="post" enctype="multipart/form-data">
                <div id="editor-container" style="height: 60vw;"></div>
                <input type="hidden" name="content" id="hidden-content">
                <br>
                <input type="file" name="attachment" multiple>
                <button type="submit">Post</button>
            </form>
        </div>
    </div>
<!-- post modal end -->
</body>
<!-- body end -->


<!-- shader load start -->

    <div id="bg-canvas"></div>

<!-- shader load end -->

<!-- script loading start -->

    <!-- post clicking start -->
        <script>
            document.querySelectorAll('.post-link').forEach(wrapper => {
                wrapper.style.cursor = 'pointer';
                wrapper.addEventListener('click', () => {
                    const href = wrapper.getAttribute('data-href');
                    if (href) {
                        window.location.href = href;
                    }
                });
            });
        </script>
    <!-- post clicking end -->

    <!-- full screen modal start -->
        <script>

            document.getElementById("openModal").onclick = function() {
            document.getElementById("postModal").style.display = "block";
        };

        document.querySelector(".close-button").onclick = function() {
            document.getElementById("postModal").style.display = "block";
        };

        window.onclick = function(event) {
            if (event.target == document.getElementById("postModal")) {
                document.getElementById("postModal").style.display = "none";
            }
        };

        </script>
    <!-- full screen modal end -->

    <!-- quill integration start -->
        <script>

            document.addEventListener("DOMContentLoaded", function () {
                const editorContainer = document.getElementById("editor-container");
                if (!editorContainer) {
                    console.error("missing #editor-container div.");
                    return;
                }

                const quill = new Quill("#editor-container", {
                    theme: "snow"
                });

                const form = document.querySelector("form");
                form.addEventListener("submit", function () {
                    const hiddenInput = document.querySelector("#hidden-content");
                    hiddenInput.value = quill.root.innerHTML;
                });
            });

        </script>
    <!-- quill integration end -->

    <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- script loading end -->

</html>