    {% for comment in post.comments %}
        <div style="margin-top: 15px; border-top: 1px solid #ccc; padding-top: 10px;">
            <strong>
                {{ comment.user.username }}
            </strong>
                -
            <small>
                {{ comment.timestamp.strftime('%y-%m-%d %H:%M') }}
            </small>
            <p>
                {{ comment.content }}
            </p>
            <form action="{{ url_for('toggle_comment_like', comment_id=comment.id) }}" method="POST" style="display:inline;">
                <button type="submit">
                    {{ comment.likes.count() }} ✓
                </button>
            </form>
            {% if is_moderator() %}
                <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="POST" style="display:inline;">
                    <button type="submit" style="font-size:1.5rem;">
                        Delete
                    </button>
                </form>
            {% endif %}
        </div>
    {% endfor %}