<div class="post-link" data-href="{{ url_for('view_post', post_id=post.id) }}">
    <div class="post" data-href="{{ url_for('view_post', post_id=post.id) }}">
        <!-- post header start -->
            <div class="post-header">
                <img src="{{ post.user.avatar_url }}" alt="Avatar" style="width:40px; height:40px; border-radius:50%; vertical-align:middle; margin-right:10px;">
                <strong>{{ post.user.username }}</strong>
                <small> | {{ post.timestamp.strftime('%y-%m-%d %H:%M') }} 
                        | {{ post.likes.count() }} ✓
                        | {{ post.comments|length }} 🗨 
                        |</small>
            </div>
        <!-- post header end -->
        
        <!-- post title start -->
        <h2 class="post-title">{{ post.title }}</h2>
        <!-- post title end -->
        
        <!-- post content start -->
        <div class="post-content-row">
            <div class="post-content-text">
                <p class="full_post_content">
                    {{ post.content[:140] | format_post_content }}
                    {% if post.content|length > 140 %}
                        ...
                    {% endif %}
                </p>    

                <!-- post attachments start -->
                    {% if post.attachments %}
                        <ul>
                            <li>
                                <a class="file" href="{{ url_for('uploaded_file_file', filename=post.attachments[0].filename) }}" download>
                                    {{ post.attachments[0].original_filename }}
                                </a>
                            </li>
                            {% if post.attachments|length > 1 %}
                                <small>{{ post.attachments|length - 1 }} other file{{ 's' if post.attachments|length -1 > 1 else '' }}</small>
                            {% endif %}
                        </ul>
                    {% endif %}
                <!-- post attachments end -->
            </div>

            <!-- post image preview start -->
                {% if post.images %}
                    <div class="post-content-image">
                    <img src="{{ url_for('uploaded_file_image', filename=post.images[0].filename) }}">

                        {% if post.images|length > 1 %}
                            <br>
                            <small> {{ post.images|length - 1 }} other image{{'s' if post.images|length -1 > 1 else '' }}</small>
                        {% endif %}
                    </div>
                {% endif %}
            <!-- post image preview end -->  
        </div>
        <!-- post content end -->
    </div>
</div>