<!-- page setup start -->
{% extends "base.html" %}
{% block title %}<title>Posts Tagged With #{{ tag }}</title>{% endblock %}
{% block content %}
<!-- page setup end -->

<!-- body start -->
<body>

<!-- post header start -->
    <h2>Posts tagged with <span class="tag">#{{ tag }}</span></h2>
<!-- post header end -->

<!-- post view start -->
    {% if posts %}
        {% for post in posts %}
            {% include "post_small.html" %}
        {% endfor %}
    {% endif %}
<!-- post view end -->

</body>
<!-- body end -->
{% endblock %}